/app-config.xml
/applicationContext.xml
/druid.cfg.properties
/druid.cfg.xml
/ehcache.xml
/hibernate.cfg.xml
/jdbc.cfg.properties
/jdbc.cfg.xml
/jndi.cfg.properties
/jndi.cfg.xml
/log4j2.xml
/mvc-config-t.xml
/mvc-config.xml
/mybatis.cfg.properties
/mybatis.cfg.xml
/oscache.properties
/proxool-2.xml
/proxool.xml
/res/
/rest-config.xml
/urlrewrite.xml
/vo/
